@import url('./clash-display.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F4F5;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 75px;
}

.font-clash-display-extralight {
    font-family: "ClashDisplay-Extralight";
}

.font-clash-display-light {
    font-family: "ClashDisplay-Light";
}

.font-clash-display-regular {
    font-family: "ClashDisplay-Regular";
}

.font-clash-display-medium {
    font-family: "ClashDisplay-Medium";
}

.font-clash-display-semibold {
    font-family: "ClashDisplay-Semibold";
}

.font-clash-display-bold {
    font-family: "ClashDisplay-Bold";
}